body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #ffe6cc, #f89fe9);
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    margin: 0;
    color: #e85c4c;
}

.header p {
    font-style: italic;
    color: #555;
}

.linha {
    width: 60px;
    height: 4px;
    background-color: #f5a623;
    margin: 10px auto;
    border-radius: 2px;
}

.categories {
    text-align: center;
    margin-bottom: 20px;
}

.categories button {
    margin: 5px;
    padding: 10px 16px;
    border-radius: 25px;
    border: none;
    background-color: #ffd699;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.categories button:hover {
    background-color: #f5a623;
    color: white;
}

.recipe-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.recipe-details h2 {
    margin-top: 0;
    color: #e85c4c;
}

.recipe-details h3 {
    color: #ff0000;
}

.recipe-details ul, .recipe-details ol {
    margin-left: 20px;
}

.recipe-details p {
    line-height: 1.5;
}

img{
    width: 50%;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #ba23f5;
    color: white;
    border-radius: 15px;
    margin-top: 40px;
    font-size: 14px;
}

.footer .socials {
    margin-top: 10px;
}

.footer .socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.footer .socials a:hover {
    text-decoration: underline;
}
